@media (min-width:576px){


    .cabecera {
        
        width: calc(100% - 82px);
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 90%);
        margin-bottom: 0;
       /*margin-right: 0;*/
        padding-bottom: 12%; 
        margin-top: 0;
        
    }

    header{

        height: 90px;
        background-color: white;
        padding: 10px 0 10px 8px;
        width: calc(100% - 82px);
        margin-bottom: 0;

    }

    #logo{

        display: none;

    }

    #logo-dk{

        display: block;
        width: calc(50px + 1vw);
        height: calc(50px + 1vw);

    }

    .top-nav{

        height: 90px;

    }

    .hamburger{

        display: none;

    }

    .links-wrapper{

        display: flex;

    }

    #menu li{

        background-color: white;
        color: black;
        
    }

    #menu li a{

        display: block;
        font-size: calc(13px + 0.3vw);
        color: black;
        font-style: italic;
        font-weight: 700;
        padding-right: 0;
        padding-left: 0.9rem;

    }

    #menu li a::after{

        content: '';
        display: block;
        transform: scaleX(0);
        height: 2px;
        background-color: black;
        transition: 380ms;
        transform-origin: center;
        margin-top: 6px;
       
    }
      
    #menu li a:hover::after{
        
        transform: scaleX(1.05);

    }

    /*.banner{

    }*/

    .chairs-mobile{

        display: none;

    }

    .chairs-desktop{
        
        display: block;
        width: 65%;
        opacity: 0.3;
       /* box-shadow: inset 0 0 0.5em blue;*/
        position: relative;       
        z-index: -1;
        
    }

    .chairs-desktop-img{

        width: 100%;

    }

    #chairs-desktop-after {

        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        box-shadow: inset 4em 0 2em -2em red;
        top: 0;
        left: 0;
        z-index: 1;

    }


    .titular{

        margin-right:-10%;
        margin-top: 50px;
        width: calc(150px + 9vw);
        height: 180px;
        border-radius: 0%;
        
    }
    
    .titular h1{
        
        font-family: 'Oswald', 'sans-serif';
        color: #ff0000;
        font-size: 23px;
        font-weight: 900;

    }

    .titular h2{

        font-size: 1.1em;

    }

    .titular p{

        font-size: 0.9em;
        line-height: 1.15;

    }

    .sec-carrousel{

        margin-top: 60px;
       
    }

    #titulo-carrusel{

        font-size: 30px;
        margin-left: 30px;

    }

    #po{
        
        margin-left: 20px;

    }

    #items-wrapper {
        
        width: calc((100%) * 10);
        position: relative;
        left: calc(-100%);

    }

    #items-wrapper.shifting {
        
        transition: left .3s ease-out;
        
    }

    .sliding{
        
        /*margin-left: 0;*/
        margin-right: 0;
        width: 10%;
        position: relative;

    }

    .producto{

        padding-left: 10px;
        padding-right: 10px;
        
    }

    .precio{

        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 20px;
        margin-top: 5px;

    }

    .adelante{

        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: white;
        cursor: pointer;
       
    }

    .texto-cel{

        width: calc(100% - 52px);
        margin-top: -45px;
        margin-left: -15px;
        margin-right: -15px;
        
    }
    
    .element, .outside-up, .cel-img, .p-mov{

        display: none;

    }

    .cel-dk{

        display: block;
        width: 51%;
        float: left;
        shape-outside: polygon(0 0, 80% 5%, 100% 105%, 0 105%);    
        padding-left: 0;     
        shape-margin: 4px;
        
    }

    
    .cel-text{

        padding-top: 15%;

    }

    .cel-title{

        margin-bottom: 0.4rem;
        
    }

    .p-dk{

        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-size: calc(0.82vw + 9px);
        line-height: 1.15;
        letter-spacing: calc(0.1px + 0.08vw);

    }

    .btn-side{
        
        display: block;
        width: 82px;
        
    }
    
    .botones{
        
        height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 82px;
        
    }
    
    .botones div{
        
        /*width: 10px;*/
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        
    }
    
    .rojo, .azul, .verde{
        
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .rojo{

        color: #ff0000;
        
    }

    .azul{

        color: rgb(60, 31, 226);
        
    }
    
    .verde{

        color: green;
        
    }
    

}